[submodule "janus/vim-indent-guides"]
	path = janus/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "janus/vim-css-color"]
	path = janus/vim-css-color
	url = git://github.com/skammer/vim-css-color.git
