[submodule "janus/vim-indent-guides"]
	path = janus/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "janus/vim-css-color"]
	path = janus/vim-css-color
	url = git://github.com/skammer/vim-css-color.git
[submodule "janus/vwilight.vim"]
	path = janus/vwilight.vim
	url = git://github.com/bry4n/vwilight.vim.git
[submodule "janus/vim-align"]
	path = janus/vim-align
	url = git://github.com/tsaleh/vim-align.git
[submodule "janus/vim-irblack"]
	path = janus/vim-irblack
	url = git://github.com/wgibbs/vim-irblack.git
